/* Masonry Grid Styles */

.masonry-container {
  width: 100%;
}

.masonry-grid {
  display: grid;
  width: 100%;
}

.masonry-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.masonry-item {
  break-inside: avoid;
}
